<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="name" placeholder="Product Name"/>
            <input type="text" name="productType" placeholder="Product Type"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div> Product List</div>
    <form method="post" action="/filter">
        <input type="text" name="filter"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">find</button>

    </form>

    {{#products}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <span>{{created}}</span>
            <span>{{productType}}</span>
            <span>{{status}}</span>
        </div>
    {{/products}}

</body>
</html>